# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Generated data
data/*.csv
data/*.json


# Logs
*.log

# Windows
Thumbs.db